<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1>Event List</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Event Id</th>
                        <th>Title</th>
                        <th>Details</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                        <tr *ngFor="let event of eventArray">
                            <td>{{event.eventId}}</td>
                            <td>{{event.title}}</td>
                            <td>{{event.details}}</td>
                            <td>{{event.price}}</td>
                            <td><button class="btn btn-secondary">Favorite</button></td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-2"></div>

    <div class="container">
        <div class="text-center">
            <h2>Add an Event</h2>

         <form>
    
            <div class="form-group">
    
                <label for="title">Title of Event</label><br>
    
                <input type="text" name="title" class = "form-control"    ngModel>
    
            </div>
    
            <pre></pre>
    
            <div class="form-group">
    
                <label for="details">Event Details</label><br>
    
                <input type="text" name="Detail" class = "form-control" ngModel>
    
            </div>
    
            <pre></pre>
    
            <div class="form-group">
    
                <label for="price">Price</label><br>
    
                <input type="number" name="price" class = "form-control" ngModel>
    
            </div>
    
            <pre></pre>
    
            <button class="btn btn-primary" type="submit">Add To List</button>
    
            </form>

        </div>
        
    </div>

</div>