<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1>Event List</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Event Id</th>
                        <th>Title</th>
                        <th>Details</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                        <tr *ngFor="let event of eventArray">
                            <td>{{event.eventId}}</td>
                            <td>{{event.title}}</td>
                            <td>{{event.details}}</td>
                            <td>{{event.price}}</td>
                            <td><button class="btn btn-secondary" (click)="addEventToFavorites(event.eventId)">Favorite</button></td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-2"></div>
</div>